/* Importar la fuente Fredoka */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* REGLA 1: Cambiamos la fuente del documento*/
* {
    font-family: 'Fredoka', sans-serif;
}
/* REGLA 2: Poner margen 0 y relleno de 20% al body */
body {
    margin: 0;
    padding: 0 20%; 
}
/* REGLA 3: Subrayar los h1 y alinearlos al centro */
h1 {
    text-decoration: underline;
    text-align: center;
    color: darkcyan;
}
/* REGLA 4: Establezco color lightcyan a los elementos de clase .selector */
.selector {
    color: lightcyan
}
/* REGLA 5: Añado padding, border y border-radius */
.selectors {
    padding: 5%;                     
    border: solid darkcyan 1px;      
    border-radius: 5px;
}

/* REGLA 6: Cambiar color a identificadores universales */
#universal {
    color: lightgoldenrodyellow;
}
/* REGLA 7: Los elementos h2 de clase selector y los h2 de ID universal se les cambiará el color a darkcyan, tendrán relleno de 1% y las esquinas redondeadas de 5px */
h2.selector, h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}
/* REGLA 8: Los elementos span tendrán font-weight: 900, color negro de fondo y blanco de texto */
span {
    font-weight: 900;
    background-color: black;
    color: white;
}
/* REGLA 9: Los elementos a que sean hijos directos de algún li tendrán text-decoration: none */
li > a {
    color: darkcyan;
    text-decoration: none
}
/* REGLA 10: Los elementos h3 tendrán color de fondo background-color: rgba(0, 139, 139, 0.529);, relleno de 0.5px y esquinas redondeadas con valor de 5px */
h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}
/* REGLA 11: Los elementos div que sean descendientes de un elemento con id "gallery" tendrán un ancho de 100%*/
#gallery div {
    width: 100%;
}
/* REGLA 12: Las imágenes tendrán un ancho máximo del 100% de su contenedor y esquinas redondeadas 5px */
img {
    border: solid darkcyan 1px; 
    width: 100%;
    border-radius: 5px;
}