/* Importar la fuente Fredoka */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* REGLA 1: Cambiamos la fuente del documento*/
* {
    font-family: 'Fredoka', sans-serif;
}
/* REGLA 2: Poner margen 0 y relleno de 20% al body */
body {
    margin: 0;
    padding: 0 20%; 
}
